* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  position: absolute;
  left: 435px;
  top: 231px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #FFFFFF;
}

button {
  border: none;
  cursor: pointer;
}

li {
  display: block;
}

header {
  position: absolute;
  width: 1600px;
  height: 95px;
  top: 0;
  z-index: 1;
}

.logo {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 778px;
  top: 25px;
  cursor: pointer;
}

header nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.8;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #27a3c2;
  border-bottom: 1px solid #FFF;
}

#nav-item-1 {
  position: absolute;
  width: 38px;
  height: 21px;
  left: calc(50% - 38px / 2 - 279px);
  top: 38px;
}

#nav-item-2 {
  position: absolute;
  width: 53px;
  height: 20px;
  left: calc(50% - 53px / 2 - 148.5px);
  top: 38px;
}

#nav-item-3 {
  position: absolute;
  width: 52px;
  height: 20px;
  left: calc(50% - 52px / 2 + 149px);
  top: 38px;
}

#nav-item-4 {
  position: absolute;
  width: 26px;
  height: 20px;
  left: calc(50% - 26px / 2 + 271px);
  top: 38px;
}

.active {
  font-weight: 600;
  border-bottom: 1px solid white;
}

.your-life {
  position: relative;
  width: 1600px;
  height: 744px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(153, 153, 153);
  background-image: url(assets/img/bg-image.png);
}

.your-life p {
  position: absolute;
  width: 504px;
  height: 50px;
  left: 548px;
  top: 326px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18.0px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.your-life button {
  display: flex;
  flex-direction: row;
  padding: 14px 47px;
  position: absolute;
  width: 184px;
  height: 46px;
  left: 707px;
  top: 406px;
  background: #00AFDB;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 132%;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
}

.btn:hover {
  transition: 0.2s;
  background: #009CC2;
}

.socials {
  position: absolute;
  width: 200px;
  height: 20px;
  left: 715px;
  top: 635px;
}

.socials ul li {
  display: inline-flex;
  margin-right: 26px;
}

.socials ul li:hover {
  transform: scale(1.4);
  transition: 0.1s;
}

.rappresent {
  position: relative;
  width: 1600px;
  height: 842px;
  margin: 0 auto;
}

.rappresent img {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 923px;
  top: 120px;
}

.content-block {
  position: absolute;
  width: 407px;
  height: 233px;
  left: 268px;
  top: 295px;
}

.content-block h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.content-block p {
  position: absolute;
  left: 0;
  top: 77px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #4E4E4E;
}

.content-block button {
  display: flex;
  flex-direction: row;
  padding: 14px 47px;
  position: absolute;
  width: 184px;
  height: 46px;
  left: 0;
  top: 187px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 132%;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
  background: #00AFDB;
}

.our-community {
  position: relative;
  width: 1600px;
  height: 504px;
  margin: 0 auto;
  text-align: center;
  background: #F5F6F7;
}

.our-community p {
  position: absolute;
  width: 298px;
  height: 80px;
  left: calc(50% - 298px / 2);
  top: 95px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #4E4E4E;
}

.content-block-2 {
  position: absolute;
  width: 298px;
  height: 175px;
  left: 269px;
  top: 155px;
}

.content-block-2 img {
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: #bbb;
  border-radius: 50%;
}

.content-block-2 h2 {
  position: absolute;
  width: 160px;
  height: 20px;
  left: calc(50% - 160px / 2);
  top: 65px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #373737;
}

.nav-items {
  position: absolute;
  width: 79px;
  height: 20px;
  left: 1252px;
  top: 80px;
}

#prew {
  position: relative;
  left: -2px;
  margin-top: 3px;
  float: left;
  background: transparent;
}

#prew:hover {
  opacity: 0.5;
}

#next {
  position: relative;
  margin-right: -2px;
  float: right;
  transform: rotate(180deg);
  background: transparent;
}

#next:hover {
  opacity: 0.5;
}

.count-slider-items {
  position: absolute;
  width: 37px;
  height: 25px;
  left: calc(50% - 37px / 2);
  top: calc(50% - 25px / 2 - 0.5px);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #373737;
}

.count-slider-items span {
  padding-right: 4.4px;
}

.slider-items {
  position: absolute;
  width: 894px;
  height: 244px;
  left: 706px;
  top: 120px;
  overflow: hidden;
}

.slider-items div {
  width: 407px;
  height: 244px;
}

.slider-items img {
  float: left;
}

#item1 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 0;
  top: 0;
  background-color: rgb(196, 196, 196);
}

#item2 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 437px;
  top: 0;
  background-color: rgb(196, 196, 196);
}

#item3 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 874px;
  top: 0;
  background-color: rgb(196, 196, 196);
}

.implement {
  position: relative;
  width: 1600px;
  height: 842px;
  margin: 0 auto;
}

.implement img {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 269px;
  top: 120px;
}

.content-block-3 {
  position: absolute;
  width: 407px;
  height: 184px;
  left: 815px;
  top: 319px;
}

.content-block-3 h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.content-block-3 p {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #4E4E4E;
}

.content-block-3 button {
  display: flex;
  flex-direction: row;
  padding: 14px 47px;
  position: absolute;
  width: 180px;
  height: 46px;
  top: 138px;
  left: 0;
  background: #00AFDB;
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 132%;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
}

.subscribe {
  position: relative;
  width: 1600px;
  height: 598px;
  margin: 0 auto;
  background-color: rgb(102, 102, 102);
  background-image: url(assets/img/pexels-christina-morillo.png);
}

.sign-up {
  position: absolute;
  width: 406px;
  height: 104px;
  left: 597px;
  top: 217px;
}

.sign-up h2 {
  margin-left: 13px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sign-up input {
  position: absolute;
  width: 316px;
  height: 46px;
  left: 0;
  top: 58px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
  color: #373737;
  border: none;
}

.btn-submit {
  position: absolute;
  width: 66px;
  height: 46px;
  left: 340px;
  top: 58px;
  background-image: url(assets/svg/btn-submit-hover.svg);
}

.btn-submit img:hover {
  opacity: 0;
}

.download-app {
  position: relative;
  width: 1600px;
  height: 468px;
  margin: 0 auto;
  background: #F5F6F7;
  overflow: hidden;
}

.download-app h2 {
  position: relative;
  left: 675px;
  top: 120px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: #373737;
}

.download-app p {
  position: relative;
  width: 483px;
  left: 559px;
  top: 140px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4E4E4E;
}

.btn-store {
  position: absolute;
  width: 188px;
  height: 50px;
  left: 597px;
  top: 238px;
  background-image: url(assets/svg/btn-store-apple-hover.svg);
}

.btn-store img:hover {
  opacity: 0;
}

.btn-market {
  position: absolute;
  width: 188px;
  height: 50px;
  left: 815px;
  top: 238px;
  background-image: url(assets/svg/btn-store-android-hover.svg);
}

.btn-market img:hover {
  opacity: 0;
}

footer {
  position: relative;
  width: 1600px;
  height: 184px;
  margin: 0 auto;
  background: #000000;
}

.additional-nav {
  position: absolute;
  width: 300px;
  height: 20px;
  left: 160px;
  top: 73px;
}

.additional-nav li {
  display: inline-block;
  margin-right: 17px;
  padding-left: 20px;
}

.additional-nav li a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.98;
  text-decoration: none;
}

.additional-nav li a:hover {
  color: #27a3c2;
  border-bottom: 1px solid #FFF;
}

.divider {
  position: relative;
  width: 6px;
  height: 0;
  left: 61px;
  margin-top: -10px;
  border: #4E4E4E solid 1px;
  transform: rotate(-90deg);
}

.basement-logo {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 618px;
  top: -13px;
}

.copyright {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 1110px;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  white-space: nowrap;
  color: #818181;
}
